@import "font.css";

/*--------------------------------------------------------------------------------------------------------------------*/
/* BETA LABEL
/*--------------------------------------------------------------------------------------------------------------------*/

#beta-label{
    width: 100%;
    height: 50px;

    font-size: 0.75rem;
    font-family: 'Suisse Intl Mono Regular', sans-serif;
    color: #000;
    line-height: 50px;

    text-align: center;
    background-color: #FFFF00;
}

#beta-label strong{
    font-family: 'Suisse Intl Mono Bold', sans-serif;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* GENERAL
/*--------------------------------------------------------------------------------------------------------------------*/

body{
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #000;

    font-family: 'Suisse Intl Mono Regular', sans-serif;
    font-size: 1em;
    color:#fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main{
    min-width: 600px;
    max-width: 924px;
    margin: 0 auto;
    padding: 50px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2{
    font-family: 'Trio Grotesk Normal', sans-serif;
    padding: 0;
    margin: 0;
}

h2{
    font-size: 1.25rem;
}

a, a:hover, a:active, a:link, a:visited{
    text-decoration: none;
    color: inherit;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* REFERENCE-HEADER
/*--------------------------------------------------------------------------------------------------------------------*/

#reference-header{
    padding-bottom: 20px;
}

#reference-header h1{
    font-size: 1.625rem;
    line-height: 1.45em;
    padding: 0 0 35px 0;
    margin: 0;
}

#reference-header a{
    font-family: 'Trio Grotesk Medium', sans-serif;
    display: inline-block;
    box-sizing: border-box;
    height: 34px;
    border: 2px solid #fff;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 0.625rem;
    line-height: 32px;
    padding: 0 12px;
}

#header-logo{
    margin-bottom: 75px;;
}

#header-btn-github{
    margin-bottom: 70px;
}

#header-search-placeholder{
    display: inline-block;
    box-sizing: border-box;

    padding: 0 20px;

    height: 58px;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;

    color: #000;
    font-size: 1.125rem;
    line-height: 60px;
}

#header-search-placeholder .placeholder{
    color: #D4D3D3;
}

.module-info{
    width: 100%;
    border-bottom: 2px solid #fff;
    clear: both;
    height: 50px;
    line-height: 50px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* MODULE
/*--------------------------------------------------------------------------------------------------------------------*/

.overview-module{
    padding-bottom: 1rem;
}

.module-info, .sub-module-info{
    height: 55px;
    line-height: 53px;
    clear: both;
    /*background: #ff0000;*/
}

.module-info a, .sub-module-info a{
    color: #3F3E3E;
    font-size: 0.75rem;
    text-transform: uppercase;
    line-height: 58px;
}

.module-info h2, .module-info .info-meta{
    width: 50%;
}

.module-info h2{
    float: left;
}
.module-info .info-meta{
    float: right;
    height: 100%;
}

.info-meta{
    color: #3F3E3E;
    text-align: right;
}

.module-info h2:after{
    content: ' /';
    color: #F96506;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* SUB-MODULE
/*--------------------------------------------------------------------------------------------------------------------*/

.sub-module-info{
    /*background: #00ff00;*/
    border-bottom: 1px dotted #F96506;
}

.sub-module-info h2{
    float: left;
}

.sub-module-info a{
    float: right;
}

.overview-sub-module .sub-module-description{
    color: #F96506;
    line-height: 1.5em;
    border-bottom: 1px dotted #3F3E3E;
    padding-bottom: 1em;
}

.sub-module-description{
    margin-bottom: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* PROPERTIES
/*--------------------------------------------------------------------------------------------------------------------*/

.properties{
    font-size: 0.875rem;
    border-bottom: 1px dotted #3F3E3E;
    padding: 1rem 0 2.65rem 0;
    margin: 0;
    line-height: 1.65em;
}

.properties h3{
    width: 100%;
    font-size: inherit;
    text-transform: capitalize;
    font-weight: normal;
    color: #3F3E3E;
    padding: 0;
    margin: 0;
}

.list-row{
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
}

.property-list{
    padding-bottom: 1.5em;
}

.properties:last-of-type{
    padding-bottom: 4rem;
}

.property-list li a:visited,
.property-list li a:active{
    color: inherit;
    text-decoration: none;
}

.property-list li a:hover{
    border-bottom: 1px dotted #F96506;
    cursor: pointer;
}

.property-group{
    color: #3F3E3E;
}

.property-placeholder:after{
    content: ' ';
}

.overview-sub-module:last-child .properties:last-of-type{
    /*background-color: #00ff00;*/
    border-bottom: none;

}

